.card {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    border-radius: .5rem;
    box-shadow: .5rem .5rem 20px .25rem rgba(0, 0, 0, 0.1);
    font-family: Nunito, sans-serif;
}

.card__content {
    padding: 1rem 1rem 1.5rem;
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
}

.card__image {
    /*border-top-left-radius: .5rem;*/
    /*border-top-right-radius: .5rem;*/
}

.card__image > img {
    max-width: 100%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.card__title {
    font-size: 1.5rem;
    font-weight: 700;
}

.card__title_name {
    margin-bottom: 0;
}

.card__title_area {
    margin-bottom: 0;
}

.card__options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card__options > * {
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: gray;
}

.card__options svg {
    font-size: 1.5rem;
}

.card__price {
    position: absolute;
    right: 0;
    top: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    text-shadow: 2px 2px 10px black;
    padding: 1rem 0.45rem 1rem 0.75rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.card__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
