@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

:root {
  --btn: #10ac84;
  --btnH: #1dd1a1;
}

* {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.App {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main {
  padding: 2rem 0;
}

.properties-list {
  display: grid;
  gap: 3rem;
}

@media (min-width: 576px) {
  .properties-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2rem;
  }
}

@media (min-width: 992px) {
  .properties-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
